<h2>Narasimhan Vallur - Banyan Blog!</h2>
<p>			
I am a software engineer who wants to write kick ass server side software. Here I am writing blogs as brain dump - while i get in the weeds of Banyan.
Banyan - A highly performant, scalable, consistent and simple to use No-Sql Solution.
</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=vallur&repo=vallur.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=vallur&repo=erjjones.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/vallur" rel="me" class="social github" title="Go to github.com/vallur" target="_blank"></a></li>
	  <li><a href="http://www.linkedin.com/pub/vallur-narasimhan/5/219/570/" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/+NarasimhanVallur/about" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
	  <li><a href="https://github.com/vallur/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Vallur"  target="_blank"></a></li>				
	</ul>
</p>
